@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --primary-color: #38B6FF;
    --secondary-color: #8D27FF;
    --third-color: #2e2e33;
    --fourth-color: #36393E
}

body {
    font-family: 'Poppins', sans-serif;
}


/*----------------- lOGO CSS -----------------*/

.logo-img {
    height: 6vh;
}

.logo-text {
    font-size: 0px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    margin: 5px;
}

.logo-text-geek {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.logo-text-nation {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--secondary-color);
}


/*-----------------  MATERIAL ICONS CSS -----------------*/

.material-icons {
    font-size: 24px;
}

.material-icons,
.material-icons-text {
    vertical-align: middle;
}

.material-icons-text {
    padding-left: 5px;
}


/*-----------------  TOP HEADER CSS -----------------*/

.top-header {
    background: var(--third-color);
}

.lado-izq {
    padding-left: 15px;
}

.lado-medio {
    margin-right: 15px;
}

.lado-medio a,
.lado-der a {
    padding-left: 15px;
    color: white;
    text-decoration: none;
}

.lado-der {
    border-left: 2px solid white;
    padding-right: 15px;
}

.eslogan {
    color: white;
}


/*-----------------  MAIN-HEADER CSS -----------------*/

.busqueda-web {
    flex: 4;
    margin-right: 20px;
}

.busqueda-web button {
    border: 1px solid var(--primary-color);
}

.busqueda-web .search-icon {
    color: var(--primary-color);
}

.botones-end-menu {
    display: flex;
    justify-content: space-around;
    flex: 3;
}

.borde-izquierdo-menu {
    border-left: 3px dotted lightgray;
    padding-left: 20px;
}

.botones-end-menu .material-icons {
    font-size: 30px;
    color: var(--primary-color);
}

.botones-end-menu .material-icons-text {
    display: none;
    color: gray;
}

@media (min-width: 1200px) {
    .botones-end-menu .material-icons-text {
        display: inline-block;
    }
    .busqueda-web {
        flex: 2;
        margin-right: 20px;
    }
    .botones-end-menu {
        flex: 2;
    }
    .botones-end-menu {
        justify-content: space-between;
    }
    .borde-izquierdo-menu {
        padding-left: 0px;
    }
}

@media (min-width: 1400px) {
    .busqueda-web {
        flex: 4;
        margin-right: 20px;
    }
    .botones-end-menu {
        flex: 3;
    }
}

.busqueda-movil {
    padding: 10px 0px 8px 0px;
}

.busqueda-movil button {
    border: 1px solid var(--primary-color);
}

.titulo-categorias {
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 3px;
}

.hr-categorias {
    margin-top: 0px;
    border: 2px solid var(--primary-color);
    margin-bottom: 8px;
}

.busqueda-movil .search-icon {
    color: var(--primary-color);
}

.top-menu-movil {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--third-color);
    border-radius: 5px;
}

.categorias-busqueda-movil {
    display: flex;
    width: 100%;
}

.busqueda-movil-der {
    display: flex;
    justify-content: center;
    width: 45%;
    align-items: center;
}

.busqueda-movil-der img {
    height: 20vh !important;
}

.busqueda-movil-izq {
    width: 55%;
}

.top-menu-movil .material-icons,
.material-icons-text {
    color: white;
}


/*-----------------  HEADER-BOTTOM CSS -----------------*/

.menu-categorias {
    background: var(--secondary-color);
}

.menu-categorias a {
    color: white;
}

.menu-categorias .dropdown-menu a {
    color: gray;
}


/*-----------------  HERO CSS -----------------*/

.hero {
    padding-top: 16px;
}

.hero-bottom-photos {
    width: 50%;
}

@media (min-width: 992px) {
    .hero-bottom-photos {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    .hero-bottom-photos {
        width: 312px !important;
        /* 306px */
    }
}

.hero-top-photos {
    margin-bottom: 16px;
}

.hero-left-photo {
    width: 100%;
}

.hero-right-photo {
    cursor: pointer;
}

@media (min-width: 992px) {
    .hero-carousel-left {
        width: 65%;
    }
    .hero-right-photo {
        width: 35%;
    }
}

@media (min-width: 1400px) {
    .hero-carousel-left {
        width: 832px !important;
    }
    .hero-right-photo {
        width: 448px !important;
    }
}


/*-----------------  MIDDLE -----------------*/


/*imagenes-productos-masvendidos 312x400 px*/


/*imagenes-productos-destacados 165 x 185 px*/


/* 991*663 px*/

.categoria {
    padding-top: 20px;
}

.card {
    font-weight: bold;
}

.title1 {
    padding-top: 35px;
    border-bottom: 2px solid var(--secondary-color);
}

.title2 {
    padding-top: 35px;
    border-bottom: 2px solid var(--primary-color);
}

.btn-info {
    background-color: var(--secondary-color);
    border-color: var(--third-color);
    color: #ffffff;
    padding: 4px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--fourth-color);
    color: #ffffff;
    padding: 4px;
}

.margen {
    margin-top: 10px;
}

.borde {
    margin-top: 10px;
    border: 1px solid #ced4da;
}

.card-body {
    font-size: 14px;
}

.card-title {
    font-size: 13px;
}

.texto-destacado {
    font-size: 12px;
}

.texto-pmv {
    font-size: 14px;
}


/*cambio de tamaño responsivo sección destacados*/

@media (max-width: 767px) {
    .img3 {
        width: 95%;
    }
    .texto-destacado {
        font-size: 12px;
    }
    .btn-primary {
        font-size: 12px;
        padding: 2px;
    }
    .title4 {
        font-size: 20px;
        padding-top: 35px;
        border-bottom: 2px solid var(--primary-color);
    }
}

@media (max-width: 554px) {
    .img3 {
        width: 89%;
    }
    .texto-destacado {
        font-size: 10px;
    }
    .btn-primary {
        font-size: 10px;
        padding: 2px;
    }
    .title4 {
        font-size: 18px;
    }
}

@media (max-width: 408px) {
    .img3 {
        width: 85%;
    }
    .texto-destacado {
        font-size: 8px;
    }
    .btn-primary {
        font-size: 8px;
        padding: 2px;
    }
    .title4 {
        font-size: 16px;
    }
}

@media (max-width: 349px) {
    .img3 {
        width: 82%;
    }
    .texto-destacado {
        font-size: 7px;
    }
    .btn-primary {
        font-size: 7px;
        padding: 2px;
    }
    .title4 {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .img3 {
        width: 79%;
    }
    .texto-destacado {
        font-size: 6px;
    }
    .btn-primary {
        font-size: 6px;
        padding: 2px;
    }
    .title4 {
        font-size: 12px;
    }
}

@media (max-width: 314px) {
    .img3 {
        width: 77%;
    }
    .texto-destacado {
        font-size: 5px;
    }
    .btn-primary {
        font-size: 5px;
        padding: 2px;
    }
    .title4 {
        font-size: 10px;
    }
}

@media (max-width: 245px) {
    .img3 {
        width: 70%;
    }
    .texto-destacado {
        font-size: 4px;
    }
    .btn-primary {
        font-size: 4px;
        padding: 2px;
    }
    .title4 {
        font-size: 10px;
    }
}

@media (max-width: 215px) {
    .img3 {
        width: 65%;
    }
    .texto-destacado {
        font-size: 3px;
    }
    .btn-primary {
        font-size: 3px;
        padding: 2px;
    }
    .title4 {
        font-size: 8px;
    }
}

@media (max-width: 187px) {
    .img3 {
        width: 60%;
    }
    .texto-destacado {
        font-size: 2px;
    }
    .btn-primary {
        font-size: 2px;
        padding: 2px;
    }
    .title4 {
        font-size: 6px;
    }
}


/*cambio de tamaño responsivo productos más vendidos*/

@media (max-width: 991px) {
    .texto-pmv {
        font-size: 15px;
    }
    .btn-info {
        font-size: 15px;
        padding: 4px;
    }
    .title3 {
        font-size: 20px;
        padding-top: 35px;
        border-bottom: 2px solid var(--secondary-color);
    }
    .img2 {
        height: 31vh;
        width: 26vh;
    }
}

@media (max-width: 500px) {
    .texto-pmv {
        font-size: 13px;
    }
    .btn-info {
        font-size: 13px;
        padding: 4px;
    }
    .title3 {
        font-size: 17px;
    }
    .img2 {
        height: 27vh;
        width: 22vh;
    }
}

@media (max-width: 350px) {
    .texto-pmv {
        font-size: 11px;
    }
    .btn-info {
        font-size: 11px;
        padding: 4px;
    }
    .title3 {
        font-size: 15px;
    }
    .img2 {
        height: 23vh;
        width: 19vh;
    }
}

@media (max-width: 300px) {
    .texto-pmv {
        font-size: 10px;
    }
    .btn-info {
        font-size: 10px;
        padding: 4px;
    }
    .title3 {
        font-size: 13px;
    }
    .img2 {
        height: 19vh;
        width: 14vh;
    }
}

@media (max-width: 238px) {
    .texto-pmv {
        font-size: 8px;
    }
    .btn-info {
        font-size: 8px;
        padding: 4px;
    }
    .title3 {
        font-size: 11px;
    }
    .img2 {
        height: 14vh;
        width: 10vh;
    }
}

@media (max-width: 161px) {
    .texto-pmv {
        font-size: 6px;
    }
    .btn-info {
        font-size: 6px;
        padding: 4px;
    }
    .title3 {
        font-size: 10px;
    }
    .img2 {
        height: 10vh;
        width: 6vh;
    }
}

@media (max-width: 133px) {
    .texto-pmv {
        font-size: 4px;
    }
    .btn-info {
        font-size: 4px;
        padding: 4px;
    }
    .title3 {
        font-size: 10px;
    }
    .img2 {
        height: 6vh;
        width: 4vh;
    }
}

@media (max-width: 115px) {
    .texto-pmv {
        font-size: 2px;
    }
    .btn-info {
        font-size: 2px;
        padding: 4px;
    }
    .title3 {
        font-size: 8px;
    }
    .img2 {
        height: 4vh;
    }
}

.footer-final {
    margin-top: 25px;
}

.contenido-footer {
    background: var(--secondary-color);
    padding: 15px;
}

.footer-text {
    padding: 30px;
    text-align: center;
}

.titulos-categorias-footer {
    margin-top: 5px;
    margin-bottom: 15px;
}

.footer-copyright {
    background-color: var(--third-color);
    padding: 10px;
}

.social-media-footer {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.go-up-button {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: white;
    bottom: 30px;
    right: 30px;
    border: 3px solid var(--primary-color);
    border-radius: 50px;
    text-align: center;
    line-height: 45px;
}

.go-up-button .material-icons {
    font-size: 2rem;
    color: var(--secondary-color);
}


/* Formulario registro */

.formulario-registro {
    margin-top: 2em;
    margin-bottom: 2em;
    background: #9b7749;
    background-image: url("/img-test/Héroe_de_Dragon_Quest_XI.png");
    box-shadow: 0 4px 10px rgba(0.9, 0.9, 0.9, 0.9);
    background-repeat: no-repeat;
}

.formulario-registro-container {
    padding: 2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.formulario-registro-left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.formulario-registro-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.container-formulario {
    border: 5px solid var(--third-color);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    width: 80%;
}

.formulario-header {
    vertical-align: center;
    background-color: var(--secondary-color);
    padding: 0.6em;
    border-bottom: 1px solid #f0f0f0;
    border: 5px solid var(--secondary-color);
    text-align: center;
    color: white;
}

.formulario-header h2 {
    margin: 0;
}

.formulario-sociales {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 2em 0;
}

.formulario-sociales a {
    border: 2px solid var(--secondary-color);
}

.formulario-sociales i {
    font-size: 2rem;
    color: var(--primary-color)
}

.container-formulario .form {
    padding: 2em 3em;
    padding-top: 0;
}

.container-formulario .form-control {
    margin-bottom: 1.5em;
    position: relative;
    border: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.container-formulario .form-control input {
    box-sizing: border-box;
    border: 3px solid var(--primary-color);
    border-radius: 6px;
    display: block;
    padding: 10px;
    font-size: 14px;
    width: 85%;
}

.form button {
    background-color: var(--secondary-color);
    border-radius: 6px;
    border: solid var(--secondary-color);
    color: white;
    display: inline-block;
    width: 100%;
    padding: 1em;
    font-size: 1.1rem;
}

.form-control i {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 15%;
    color: white;
}

.container-formulario .form-check {
    margin-bottom: 1em;
    font-size: 14px;
    font-weight: 600;
}


/* Formulario Contacto*/

.form-completo {
    background-color: #7293A0;
    margin-top: 20px;
}

.formulario {
    background-color: #D8DDEF;
    border: 3px solid var(--third-color);
    border-radius: 5%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 25px;
    max-width: 40%;
    max-height: 40%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 90%);
}

.titulo {
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
}

.estilo1 {
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding-left: 40px;
}

.form-group .btn-primary {
    background-color: var(--secondary-color);
    padding: 15px;
    font-weight: bold;
}

.estilo2 {
    border-radius: 15px;
}

.img-form {
    max-width: 100%;
    margin-top: 40px;
    margin-left: 20px;
}

.iconos-formulario {
    position: absolute;
    margin: 13px;
    color: #000000;
}

.estilo3 {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
}

.img2-form {
    width: 20%;
    height: 20%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formulario2 {
    background-color: #D8DDEF;
    border: 3px solid var(--third-color);
    border-radius: 5%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 100%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 90%);
}

.form-completo2 {
    background-color: #7293A0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}