@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #84A9F3;
    --secondary-color: #B069FF;
    --third-color: #2e2e33;
    --fourth-color: #36393E
}

body{
    font-family: 'Poppins', sans-serif;
}


.navbar-brand img{
    height: 3vh;
}