@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --primary-color: #38B6FF;
    --secondary-color: #8D27FF;
    --third-color: #2e2e33;
    --fourth-color: #36393E
}

body {
    font-family: 'Poppins', sans-serif;
}


/*----------------- lOGO CSS -----------------*/

.logo-img {
    height: 6vh;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    margin: 5px;
}

.logo-text-geek {
    color: var(--primary-color);
}

.logo-text-nation {
    color: var(--secondary-color);
}


/*-----------------  MATERIAL ICONS CSS -----------------*/
.material-icons{
    font-size: 24px;
}

.material-icons,
.material-icons-text {
    vertical-align: middle;
}

.material-icons-text {
    padding-left: 5px;
}


/*-----------------  TOP HEADER CSS -----------------*/

.top-header {
    background: var(--third-color);
}

.lado-izq {
    padding-left: 15px;
}

.lado-medio {
    margin-right: 15px;
}

.lado-medio a,
.lado-der a {
    padding-left: 15px;
    color: white;
    text-decoration: none;
}

.lado-der {
    border-left: 2px solid white;
    padding-right: 15px;
}

.eslogan {
    color: white;
}




/*-----------------  MAIN-HEADER CSS -----------------*/

.busqueda-web {
    flex: 4;
    margin-right: 20px;
}

.busqueda-web button{
    border: 1px solid var(--primary-color);
}
.busqueda-web .search-icon{
    color: var(--primary-color);
}
.botones-end-menu{
    display: flex;
    justify-content: space-around;
    flex: 3;
}

.borde-izquierdo-menu{
    border-left: 3px dotted lightgray;
    padding-left: 20px;
}

.botones-end-menu .material-icons{
    font-size: 30px;
    color: var(--primary-color);
}

.botones-end-menu .material-icons-text{
    display: none;
    color: gray;
}   

@media (min-width: 1200px) { 
    .botones-end-menu .material-icons-text{
        display: inline-block;
    } 
    
    .busqueda-web {
        flex: 2;
        margin-right: 20px;
    }
    
    .botones-end-menu{
        flex: 2;
    }      

    .botones-end-menu{
        justify-content: space-between;
    }

    .borde-izquierdo-menu{
        padding-left: 0px;
    }
}

@media (min-width: 1400px) {
    .busqueda-web {
        flex: 4;
        margin-right: 20px;
    }
    
    .botones-end-menu{
        flex: 3;
    }    
}

.busqueda-movil {
    padding: 10px 0px 8px 0px;
}

.busqueda-movil button {
    border: 1px solid var(--primary-color);
}

.busqueda-movil .search-icon{
    color: var(--primary-color);
}

.top-menu-movil{
    background-color: var(--third-color);
    border-radius: 5px;
}

.top-menu-movil .material-icons, .material-icons-text{
    color: white;
}



/*-----------------  HEADER-BOTTOM CSS -----------------*/

.menu-categorias {
    background: var(--secondary-color);
}

.menu-categorias a {
    color: white;
}

.menu-categorias .dropdown-menu a{
    color:gray;
}

/*-----------------  HERO CSS -----------------*/

.hero {
    padding-top: 16px;
}

.hero-bottom-photos {
    width: 50%;
}

@media (min-width: 576px) {
    .hero-bottom-photos {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    .hero-bottom-photos {
        width: 312px !important;
        /* 306px */
    }
}

.hero-top-photos {
    margin-bottom: 16px;
}

.hero-left-photo {
    width: 100%;
}

@media (min-width: 992px) {
    .hero-carousel-left {
        width: 65%;
    }
    .hero-right-photo {
        width: 35%;
    }
}

@media (min-width: 1400px) {
    .hero-carousel-left {
        width: 832px !important;
    }
    .hero-right-photo {
        width: 448px !important;
    }
}

/*-----------------  MIDDLE -----------------*/

.categoria {
    padding-top: 20px;
}

.card {
    font-weight: bold;
}

.card .vertical {
    height: 100%;
}

.card .img {
    height: 55vh;
}

.card .img1 {
    height: 25vh;
}

.categoria .img2 {
    height: 30vh;
    width: 25vh;
}

.title1 {
    padding-top: 35px;
    border-bottom: 2px solid var(--secondary-color);
}

.title2 {
    padding-top: 35px;
    border-bottom: 2px solid var(--primary-color);
}

.btn-info {
    background-color: var(--secondary-color);
    border-color: var(--third-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--fourth-color);
}

.margen {
    margin-top: 10px;
}

.borde {
    padding-left: 50px;
    padding-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ced4da;
}

/*-----------------  FOOTER -----------------*/


.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: 070617;
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 20;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 20px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 2px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -wekbit-transition: .1s;
    -moz-transition: .1s;
}

.footer .col ul li {
    font-size: 13px;
}