        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
         :root {
            --primary-color: #38B6FF;
            --secondary-color: #8D27FF;
            --third-color: #2e2e33;
            --fourth-color: #36393E
        }
        
        body {
            font-family: 'Poppins', sans-serif;
        }
        
        .form button {
            background-color: var(--secondary-color);
            border-radius: 6px;
            border: solid var(--secondary-color);
            color: #fff;
            display: inline-block;
            width: 100%;
            padding: 1em;
            font-size: 1.1rem;
        }
        /* Formulario iniciar sesión */
        
        .formulario-inicio {
            margin-top: 1rem;
            margin-bottom: 2em;
            box-shadow: 0 4px 10px rgba(0.9, 0.9, 0.9, 0.9);
            height: 100%;
            background-image: url("/img-test2/LIGHTNING4.png");
            background-repeat: no-repeat round;
            position: relative;
        }
        
        .formulario-inicio :after {
            content: "";
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            position: absolute;
            z-index: -1;
            background: linear-gradient(45deg, rgba(255, 192, 203, 1) 35%, rgba(127, 229, 251, 1) 72%);
        }
        
        .div .input-group .form-control {
            position: relative;
            box-sizing: border-box;
            border-radius: 6px;
            display: block;
            padding: 10px;
            font-size: 12px;
            width: 80%;
            border: 3px solid var(--secondary-color);
        }
        
        .formulario-inicio-container {
            padding: 2em;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
        
        .formulario-inicio-left {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        
        .formulario-inicio-right {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
        
        .container-formulario-inicio {
            border: 5px solid var(--third-color);
            background-color: white;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
            width: 75%;
        }
        
        .formulario-inicio-header {
            vertical-align: center;
            background-color: var(--secondary-color);
            padding: 0.6em;
            border-bottom: 1px solid #f0f0f0;
            border: 5px solid var(--secondary-color);
            text-align: center;
            color: white;
        }
        
        .formulario-inicio-header h2 {
            margin: 20px;
        }
        
        .formulario-inicio-sociales {
            display: flex;
            justify-content: center;
            width: 50%;
            margin: auto;
            padding: 1rem 0;
        }
        
        .formulario-inicio-sociales a {
            border: 2px solid var(--secondary-color);
        }
        
        .formulario-inicio-sociales i {
            font-size: 2rem;
            color: var(--primary-color)
        }
        
        .container-formulario-inicio .form {
            padding: 2em 3em;
            padding-top: 0;
            margin: 0;
        }
        
        .container-formulario-inicio .form-control {
            margin-top: 1rem;
            position: relative;
            border-radius: 0px;
            padding: 0px;
            background-color: var(--primary-color);
        }
        
        .formulario-inicio .form-control input {
            box-sizing: border-box;
            border: 3px solid var(--primary-color);
            border-radius: 6px;
            display: inline-grid;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-size: 14px;
            width: 85%;
        }
        
        .div .formulario-inicio .form-control input {
            line-height: 30px;
            justify-content: space-between;
            margin: 50%;
        }
        
        .form-check-2 .form button {
            background-color: var(--secondary-color);
            border-radius: 6px;
            border: solid var(--secondary-color);
            color: white;
            display: inline-block;
            width: 100%;
            padding: 1em;
            padding-top: 1em;
            font-size: 1.1rem;
            position: relative;
        }
        
        .formulario-inicio .form-control i {
            display: flex;
            justify-content: center;
            align-self: center;
            width: 15%;
            color: white;
        }
        
        .container-formulario .form-check-2 {
            margin-bottom: 50px !important;
            font-size: 14px;
            font-weight: 600;
        }
        
        .formulario-inicio a {
            color: var(--secondary-color);
        }
        /*errores formulario iniciar sesion*/
        
        .error_2,
        .emailValido_2,
        .errorClave,
        .errorVacio {
            color: #ff0000;
            font-size: small;
            text-align: justify;
            position: relative;
        }
        
        @media (max-width: 576px) {
            .formulario-inicio .form-control input {
                font-size: 12px;
            }
        }
        
        @media (max-width: 994px) {
            .formulario-inicio-sociales {
                width: 100%;
            }
        }
        
        @media (max-width: 991px) {
            .formulario-inicio-left {
                width: 0;
            }
            .formulario-inicio-right {
                width: 100%;
            }
            .container-formulario-inicio {
                margin: auto;
            }
            .formulario-inicio {
                background-image: none !important;
            }
        }